@model DoAn3Tuan_WebPhone.Models.HangDienThoai

<div class="container p-4">
    <h4>Thêm Hãng Điện Thoại Mới</h4>
    <hr />
    <form asp-action="Create">
        <div class="mb-3">
            <label class="form-label">Mã Hãng (Ví dụ: HANG011)</label>
            <input asp-for="MaHangDienThoai" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Tên Hãng</label>
            <input asp-for="TenHangDienThoai" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Mô Tả</label>
            <textarea asp-for="MoTa" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>